include:
  - template: Terraform/Base.gitlab-ci.yml

variables:
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

  DOCKER_REGISTRY: 104300641251.dkr.ecr.ap-northeast-1.amazonaws.com
  AWS_DEFAULT_REGION: ap-northeast-1

stages:
  # - validate
  # - build
  # - deploy
  - aws_ecr

# validate:
#   extends: .terraform:validate

# build:
#   extends: .terraform:build

# terraform_deploy:
#   stage: deploy
#   script:
#     - gitlab-terraform apply -auto-approve


aws_:
  stage: aws_ecr 
  image: 
    name: docker:latest
  services:
    - docker:19-dind
  before_script:
    - apk add --no-cache curl jq python3 py3-pip
    - pip install awscli
    - aws ecr get-login-password | docker login -i --username AWS --password-stdin $DOCKER_REGISTRY

  script:
    - docker build -t mkdocs-containers:latest .
    - docker tag mkdocs-containers:latest $DOCKER_REGISTRY/mkdocs-containers:latest
    - docker push $DOCKER_REGISTRY/mkdocs-containers:latest











    
