include:
  - template: Terraform/Base.gitlab-ci.yml
  - template: AWS/Deploy-ECS.gitlab-ci.yml

variables:
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY

stages:
  - validate
  - build
  - deploy

validate:
  extends: .terraform:validate

build:
  extends: .terraform:build

terraform_deploy:
  stage: deploy
  script:
    - gitlab-terraform apply -auto-approve
    - aws configure
    - AKIARQSGNPPR5IMGGBTT
    - SZ4VOhZvnYPBhYBSdi9ZKg1gzNl6IyYqXUgsxYcf
    - ap-northeast-1
    - json
    - aws ecr get-login-password --region ap-northeast-1 | docker login --username AWS --password-stdin 104300641251.dkr.ecr.ap-northeast-1.amazonaws.com
    - docker build -t mkdocs-containers .
    - docker tag mkdocs-containers:latest 104300641251.dkr.ecr.ap-northeast-1.amazonaws.com/mkdocs-containers:latest
    - docker push 104300641251.dkr.ecr.ap-northeast-1.amazonaws.com/mkdocs-containers:latest
